# Environment variables for Flask app and Data Processor
# These should align with the values in influxdb.env after initial setup

# The URL of your InfluxDB instance
INFLUXDB_URL=http://influxdb:8086

# The authentication token for InfluxDB (should match DOCKER_INFLUXDB_INIT_ADMIN_TOKEN in influxdb.env)
INFLUXDB_TOKEN=your_influxdb_admin_token

# The InfluxDB organization (should match DOCKER_INFLUXDB_INIT_ORG in influxdb.env)
INFLUXDB_ORG=your_influxdb_org

# The InfluxDB bucket to use (should match DOCKER_INFLUXDB_INIT_BUCKET in influxdb.env)
INFLUXDB_BUCKET=your_influxdb_bucket
